<section class="flex max-w-full h-dvh items-center justify-center flex-col">
    <img src="logosemnome.png" alt="imagem do logo"/>
    <h1 class="text-2xl">Administração da Loja</h1>
    <section class="mt-2 space-x-5">
        <button routerLink="/gerenciarprodutos" class="h-auto inline-flex items-center px-3 py-2 text-sm font-medium text-center cursor-pointer rounded-lg text-white bg-cyan-700 hover:bg-cyan-800 focus:outline-none focus:ring-cyan-300 dark:bg-cyan-600 dark:hover:bg-cyan-800 dark:focus:ring-cyan-800"
        >Ir para produtos</button>
        <button routerLink="/gerenciarusuarios" class="h-auto inline-flex items-center px-3 py-2 text-sm font-medium text-center cursor-pointer rounded-lg text-white bg-cyan-700 hover:bg-cyan-800 focus:outline-none focus:ring-cyan-300 dark:bg-cyan-600 dark:hover:bg-cyan-800 dark:focus:ring-cyan-800"
        >Ir para usuários</button>
    </section>
</section>
